<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" media="screen"/>
    </head>

    <body>
        <h1>Welcome To Mystery Rooms</h1>
        <br>
        <br>
        <div class="container-fluid">
          
          <div class="row">
            <div class="col-xs-4 " style="height:400px;">
                <div class ="row">
                    <div class="col-xs-12"style="height:200 px"><img src = "/static/mystery_rooms/images/painting1_final.png" class="img-fluid img-thumbnail"></div>
                </div>
                <div class ="row">
                    <div class="col-xs-12"style="height:100 px"></div>
                </div>
                <div class ="row">
                    <div class="col-xs-12"style="height:200 px"><img src = "/static/mystery_rooms/images/painting2_final.png" class="img-fluid img-thumbnail"></div>
                </div>
            </div>
            <div class="col-xs-4 " style="height:200px;"><img src = "/static/mystery_rooms/images/painting3_final.png" class="img-fluid img-thumbnail"></div>
            <div class="col-xs-4 " style="height:200px;"><img src = "/static/mystery_rooms/images/painting4_finalmain.jpg" class="img-fluid img-thumbnail"> </div>
          </div>
          <div class="row">
            <div class="col-xs-2 " style="height:200px;">
                <div class = "row">
                    <div class = "col-xs-12"style="height:300px"></div>
                </div>
                <div class = "row">
                    <div class = "col-xs-12"style="height:20px"><img src = "/static/mystery_rooms/images/locker1_final.png" class="img-fluid img-thumbnail"></div>
                </div>   
            </div>
            <div class="col-xs-2 " style="height:200px;">
                <div class = "row">
                    <div class = "col-xs-12"style="height:300px"></div>
                </div>
                <div class = "row">
                    <div class = "col-xs-12"style="height:20px"><img src = "/static/mystery_rooms/images/locker2_final.png" class="img-fluid img-thumbnail"></div>
                </div>   
            </div>
            <div class="col-xs-4 " style="height:200px;"><img src = "/static/mystery_rooms/images/door.png" class="img-fluid img-thumbnail"></div>
            <div class="col-xs-4 " style="height:200px;"><img src = "/static/mystery_rooms/images/cabinet_new.png" class="img-fluid img-thumbnail"> </div>
          </div>
        </div>
    </body>
</html>